setuptools>=42
setuptools_scm
chardet
click
cliff
anytree
beautifulsoup4
bullet
configobj
configparser
ipwhois
jinja2
lxml
gnupg
mccabe
pyflakes
pexpect
Pygments
property_manager
psutil
requests
sphinx
tox
yamlreader
xkcdpass>=1.19.3
